metals-main/
metals-v2/
out
.bsp
.scala-build
.scalex/
scalex-workspace/
/benchmark/

# Native binary
/scalex
/scalex-before
/scalex-after
/sdbx

# Profiling artifacts
profiling/*.html
profiling/*.jfr
*.jfr